<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Uncerainty Visualization</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
      integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="/css/preforms.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container bg-light">
      <form class="questions">

        <p>
        You have completed the first round of the task. Please respond to the questions below 
        before continuing on to the rest of the task.
        </p>

        <h3>
          Imagine you found yourself in the following situation:
          <i
            >"On the morning of an important job interview, you wake up with
            fever and chills."</i
          >
        </h3>
        <fieldset class="form-group">
          <label for="freeform_1" class="col-form-label">
            What is a potential course of action that you could take in this
            situation?</label
          >
          <div class="col-10">
            <input
              class="form-control"
              type="text"
              name="freeform_1"
              id="freeform_1"
            />
          </div>
        </fieldset>

        <h3>
          Imagine you found yourself in the following situation:
          <i
            >"You stop by a store to grab an item you need. You are in a hurry
            but the cashier is nowhere to be found."</i
          >
        </h3>

        <fieldset class="form-group">
          <label for="freeform_2" class="col-form-label"
            >What is a potential course of action that you could take in this
            situation?</label
          >
          <div class="col-10">
            <input
              class="form-control"
              type="text"
              name="freeform_2"
              id="freeform_2"
            />
          </div>
        </fieldset>

        <button type="submit" class="btn btn-primary" id="presubmit">
          Submit
        </button>
      </form>
    </div>

    <!-- <script src="/js/article.js"></script>
<script src="/js/study.js"></script> -->
    <script>
      $("#presubmit").click(function(event) {
        event.preventDefault();
        var data = $(".questions").serializeArray();
        console.log(data);
        //        window.location.assign("/instructions");
        //        console.log(data);
        //        console.log(data[0]);
        var newData = {};
        console.log(newData);
        // newData = data.map(function(d){
        //     return {d["name"]:d["value"]}
        // })

        if (data.length === 2) {
          $.post(
            "/api/attention",
            data,
            (success = function(d) {
              console.log(d);
              console.log("success");
              window.location.assign("/instructions/uncertainty");
            })
          );
        } else {
          console.log(data);
          alert("please fill out all questions.");
        }
      });
    </script>
  </body>
</html>
