* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  /*display: flex;*/
  justify-content: center;
  flex-direction: column;
}

#instructions {
  padding: 20px;
}

#instructions h3 {
  font-size: 40px;
}

#instructions p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

.varX,
.varY {
  font-weight: bold;
}

.img-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#choicearray {
  text-align: center;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}
#choicearray img {
  width: 280px;
  display: inline-block;
  margin-right: 50px;
}

.main {
  min-height: 100%;
}
