*{
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin:0;
}

.container.main {
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#topic{
    height:20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#topic h2 {
    text-align: center;
}


#topic p {
    text-align: center;
    font-size: large;
}
#prior {
    /*width: 100%;*/
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    /*height: 50%;*/
    /*background-color: lightgray;*/
    /*margin: 0 auto;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/

}

#prior p{
    font-size: x-large;
}

/*input[type=radio] {*/
    /*border: 0px;*/
    /*width: 100%;*/
    /*height: 1em;*/
/*}*/

input[type='radio'] { transform: scale(1.2);
    color:white;
}
input[type='radio']:after {
    background-color: #ffffff;
}
input[type='radio']:checked:after {
    background-color: #ffffff;
}

#decisions{
    height: 30%;
}

#prior h2{
    text-align: center;
    padding: 10%;

}

#continue, #decide {
    height: 100%;
    /*width: 30%;*/

    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#decisions p {
    font-size: xx-large;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

#decisions p:hover{
    background-color: orange;
}

#continue p {
    background-color: lightgray;
    text-align: center;
    padding: 100px;
}
#continue{
    margin: 0 auto;
}

#decide p {
    background-color: green;
    text-align: center;
    padding: 100px;
}